.main-container{
    text-align: center;
    background-color: aqua;
    .bg-color-yellow {
      background-color: yellow;
    }
    .bg-color-green {
      background-color: green;
    }
    .p-tag {
      font-size: 20px;
      font-weight: bold;
    }
  }